.nav {
    background-color: black; 
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav *, h3, p {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    width: 50%;
    color: grey;
  }